{% extends 'admin/admin home template.html' %}
{% block body %}



<a href="/myapp/usersview/">view user</a><br>
<a href="/myapp/foodviews/">view food</a><br>
<a href="/myapp/todaymenueviews/">today menu</a><br>
<a href="c">add food</a><br>
<a href="/myapp/addstaffs/">add staff</a><br>
    <a href="/myapp/addtodaymenus">add tody menu</a><br>
<a href="/myapp/addusers/">add users</a><br>
<a href="/myapp/viewsprecount/"> view precount</a><br>
<a href="/myapp/billviews/">view bill</a><br>
<a href="/myapp/orderhistoryviews/">oder history views</a><br>
<a href="/myapp/staffviews/">staff views</a><br>
<a href="/myapp/changepassword/">change password</a><br>


{% endblock %}