{% extends 'admin/admin home template.html' %}
{% block body %}

<form action="/myapp/changepassword_post/" method="POST">
    {% csrf_token %}
<table class="table table-bordered">
  <tr>
    <th scope="row">old password</th>
    <td>
      <input type="text" class="form-control" name="username" id="textfield" /></td>
  </tr>
  <tr>
    <th scope="row">new password</th>
      <td>

      <input type="text" class="form-control" name="password1" id="textfield2" /></td>
  </tr>
  <tr>
        <tr>
    <th scope="row">conform password</th>
    <td>
      <input type="text"  class="form-control" name="password2" id="textfield2" /></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" class="btn btn-success" name="button" id="button" value="Submit" /></th>
    </tr>

</table>










</form>
{% endblock %}